<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/style.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" style="padding-bottom: 20px;background-color: black">
                <div class="container">
                    <div class="navbar-header">
                        <a href=# class="navbar-brand" style="color: #f8f8f8"><img src="static/logo1.png" alt="logo" id='logo'></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right" style="padding-top: 10px">
                        <li><a href=# style="color: #f8f8f8"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href=#><span class="glyphicon glyphicon-phone-alt"></span> About</a></li>
                        <li><a href=#><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        
                        <li><a href=#><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </nav>
            {% block content %}{% endblock %}
        <footer>
            <div class="container">
                <p>Copyright MJ Hackathon</p>
            </div>
        </footer>
    </body>
</html>